package segments

type ContainerApp struct {
	Name string
	URL  string
}

templ Containers(containers []*ContainerApp) {
	<div class="grid grid-cols-1 items-center gap-y-4">
		for _, container := range containers {
			@href(container.URL) {
				<div class="bg-sky-400 dark:bg-sky-800 rounded-lg px-4 py-2 selectable">
					<div class="flex items-baseline uppercase">
						<p>{ container.Name } </p>
					</div>
					<p class="text-sm text-gray-600 dark:text-gray-400">
						{ container.URL }
					</p>
				</div>
			}
		}
	</div>
}

templ href(url string) {
	<a href={ templ.SafeURL(url) } target="_blank">
		{ children... }
	</a>
}
